@font-face {
    font-family: 'thin-roboto';
    src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'light-roboto';
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'regular-roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'bold-roboto';
    src: url(../fonts/Roboto-Bold.ttf)
}
body{
    margin: 0;
}
h1{
    font-family: 'light-roboto';
}
h2{
    font-family: 'bold-roboto';
}
p{
    font-family: 'regular-roboto';
}
#header{
    background-color: #0165A1;
    padding: 30px 0px 30px 0px;
}
#header h1{
    color: white;
    padding-left: 1%;
    font-size: 450%;
}
#container{
    display: flex;
}
#texto{
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    width: 100%;
}
#texto h2{
    font-size: 200%;
}
#texto p{
    font-size: 125%;
}
#quemsou{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2e2e2;
    color: #000000;
    padding: 5px 0; 
    margin: 0;
    width: 30%;
    text-align: center;
}
#quemsou img{
    width: 65%;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    color: #8f8f8f;
}
#footer{
    background-color: #464646;
    color: white;
    padding: 1%;
}
#footer img{
    width: 2%;
    margin: 5px 0px 0px 0px;
}
#footer p{
    margin: 5px 0px 5px 0px;
}

@media screen and (max-width: 600px){
    body{
        text-align: center;
    }
    #header h1{
        font-size: 300%;
        margin: 10%;
    }
    #container{
        display: flex;
        flex-direction: column;
    }
    #texto{
        margin: 10% 0 10% 0;
        padding: 0;
    }
    #texto h2{
        font-size: 250%;
        margin: 5%;
    }
    #texto p{
        font-family: 'light-roboto';
        font-size: 140%;
        margin: 5%;
    }
    #quemsou{
        padding-bottom: 0;
        width: 100%;
    }
    #quemsou h2{
        font-size: 250%;
        margin: 5%;
    }
    #quemsou img{
        margin: 5%;
    }
    #quemsou p{
        font-family: 'light-roboto';
        font-size: 140%;
        margin: 5%;
    }
    #footer p{
        font-size: 110%;
    }
    #footer img{
        width: 12%;
    }
}
